@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

img {
    max-width: 100%;
}

section {
    margin-top: 120px;
}

/* HEADER STYLE START */
.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../image/Banner\ Image.png");
    border-radius: 16px;
    height: 600px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* HEADER STYLE END */
/* MAIN SECTION STYLE START */
.offer {
    margin: 120PX auto;
    text-align: center;
}

.offer h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer P {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.offer h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer img {
    width: 800px;
    height: 500px;
    margin: 48px auto;
}

.section-banner {
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../image/Vectorrr.png");
    border-radius: 16px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-size: cover;
}

.section-text {
    width: 60%;
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.section-img {
    width: 40%;
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.section-text h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.section-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.section-text button {
    color: #fff;
    background: none;
    border: none;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    margin-top: 48px;
    cursor: pointer;
}

.new-park {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.new-park .new-park-content {
    font-size: 24px;
}

.new-park .new-park-content span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.new-park .new-park-content p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.new-park button {
    color: #fff;
    border-radius: 8px;
    background: #F00;
    padding: 10px 25px;
    margin-top: 35px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.coming-soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
}

.coming-soon .best-offer-text {
    flex: 1;
}

.coming-soon .best-offer-text h4 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.coming-soon .best-offer-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.coming-soon .best-offer-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon .ellipse-img {
    flex: 1;
    padding: 30px;
    border-radius: 100%;
    border: 15px solid #F00;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.coming-soon .ellipse-img img {
    width: 100%;
}

.coming-soon .text_img {
    flex: 1;
    padding-left: 35px;
}

.coming-soon .text_img h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.coming-soon .text_img p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
}



.bottom-img {
    max-width: 100%;
}

.awesome-text span {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.awesome-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;

}

.awesome-text p {
    width: 890px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 22px 0 48px;
}

.img-rowOne {
    display: flex;
    gap: 18px;
    margin-bottom: 18px;
}

.img-rowTwo {
    display: flex;
    gap: 18px;
}


.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.subscribe img {
    width: 80px;
    margin-top: 80px;
}

.subscribe h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.subscribe p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.subscribe-form {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 80px;
}

.subscribe-input {
    width: 348px;
    padding: 25px 30px;
    font-size: 16px;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
    -webkit-border-radius: 50px 0px 0px 50px;
    -moz-border-radius: 50px 0px 0px 50px;
    -ms-border-radius: 50px 0px 0px 50px;
    -o-border-radius: 50px 0px 0px 50px;
}

.subscribe-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
    background: #F00;
    padding: 24px 56px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
    -webkit-border-radius: 0px 50px 50px 0px;
    -moz-border-radius: 0px 50px 50px 0px;
    -ms-border-radius: 0px 50px 50px 0px;
    -o-border-radius: 0px 50px 50px 0px;
}

/* footer css */


section.Footer {
    background: #070211;
    height: 609px;
}

.Footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 98px;
}

.Footer_left {
    width: 375px;
    height: 80px;
    margin-top: 120px;

}

.Footer_para {
    color: #FFF;
    font-family: 'Inter, sans-serif';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}

.Footer_right {
    width: 251px;
    height: 80px;
    margin-top: 120px;
    margin-right: 150px;
}

.Footer_one {
    display: flex;
    align-items: center;
}

.Footer_icon {
    width: 24px;
    height: 24px;
    color: #fff;
}

.footer_Links {
    margin-left: 9px;
}

.footer_Links a {
    color: #FFF;
    font-family: 'Inter, sans-serif';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.Footer_two {
    display: flex;
    align-items: center;
}

.communicate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    height: 64px;
    margin: 0 auto;
}

.Footer_social {
    width: 55px;
    height: 55px;
}

.Footer_mid {
    padding: 30px;
}

.Footer_base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.copyright {
    width: 295px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}